/***********************
 * Essential Structure *
 ***********************/
.flexsearch--wrapper {
    height: auto;
    width: auto;
    max-width: 100%;
    overflow: hidden;
    background: transparent;
    margin: 0;
    position: static;
}

.flexsearch--form {
    overflow: hidden;
    position: relative;
}

.flexsearch--input-wrapper {
    /*padding: 0 66px 0 0; !* Right padding for submit button width *!*/
    overflow: hidden;
}

.flexsearch--input {
    width: 100%;
    background: #353535;
}

/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
    /*padding: 0 25px 0 200px; !* Padding for other horizontal elements *!*/
}

.flexsearch--input {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 47px;
    padding: 0 46px 0 10px;
    border: none;
    /*border-color: #888;*/
    border-radius: 35px; /* (height/2) + border-width */
    /*border-style: solid;*/
    /*border-width: 5px;*/
    margin-top: 15px;
    color: #888;
    font-family: 'OpenSans', sans-serif;
    font-size: 13.4px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.flexsearch--submit {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 39px;
    height: 39px;
    padding: 0;
    border-radius: 100px;
    border: none;
    margin-top: 20px; /* margin-top + border-width */
    margin-right: 5px; /* border-width */
    background: #ea9215;
    color: #888;
    font-family: 'Helvetica', sans-serif;
    font-size: 25px;
    line-height: 15px;
}

.flexsearch--input:focus {
    outline: none;
    border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
    color: #333;
}

.flexsearch--submit:hover {
    color: #333;
    cursor: pointer;
}
